@import url('http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css');

 	body {  
 	padding-top:15%;   
 	} 
  	
  .centerDiv {
  box-shadow: 5px 5px 5px #888888;
  padding:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  width: 50%; height:50%; margin: 0 auto; background-color:#FFA500 ; 
  } 
  	
