<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <section class="hero"
        style="background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(/images/4k/{{ hero.background }}.png);">
        <div>
            <h1>{{ hero.title }}</h1>
            <h2>{{ hero.subtext }}</h2>
        </div>
        <span class="hint">‸</span>
    </section>

    {% block content %}{% endblock %}

    <!-- Start Open Web Analytics Tracker -->
    <script type="text/javascript">
        //<![CDATA[
        var owa_baseUrl = 'https://owa.bxbservers.com/';
        var owa_cmds = owa_cmds || [];
        owa_cmds.push(['setSiteId', '26d15a2f4bb3179a004edeba436d581c']);
        owa_cmds.push(['trackPageView']);
        owa_cmds.push(['trackClicks']);

        (function () {
            var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
            owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl);
            _owa.src = owa_baseUrl + 'modules/base/dist/owa.tracker.js';
            var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
        }());
        //]]>
    </script>
    <!-- End Open Web Analytics Code -->
</body>

</html>