{% extends "_layout.jinja" %}

{% block title %}Block by Block{% endblock %}
{% set hero = {
"background": "default",
"title": "Block by Block",
} %}

{% block content %}
<style>
</style>

<section class="cards">
    {% for server in servers %}
    <a class="card" href="/{{ server.path }}/">
        <picture class="background">
            <source srcset="
                /images/thumbs/256x256/{{ server.thumbnail }}.webp 256w,
                /images/thumbs/512x512/{{ server.thumbnail }}.webp 512w" type="image/webp" />
            <source srcset="
                /images/thumbs/256x256/{{ server.thumbnail }}.jpg 256w,
                /images/thumbs/512x512/{{ server.thumbnail }}.jpg 512w" type="image/jpeg" />
            <img src="/images/thumbs/{{ server.thumbnail }}.jpg" />
        </picture>

        <span class="title">{{ server.name }}</span>
        <span class="subtext">{{ server.date }}</span>
    </a>
    {% endfor %}
</section>
{% endblock %}